.primaryBannerLineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 32px;
  gap: 16px;

  @media (min-width: 905px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
