@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #262230;
  --secondary: #1f1c26;
  --tertiary: #b9b1c9;
  --splash: #fe617c;
  --darkSplash: #d4445c;
  --rock: #000000;
  --overlayGlass: #1f1c26de;
}

.lightTheme:root {
  --primary: #ffffff;
  --secondary: #eff0f0;
  --tertiary: #1c2021;
  --splash: #fe617c;
  --darkSplash: #d4445c;
  --rock: #000000;
  --overlayGlass: #eff0f0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

::selection {
  background-color: #fe617c;
  color: #1c2021;
}
