:root {
  --primary: #262230;
  --secondary: #1f1c26;
  --tertiary: #b9b1c9;
  --splash: #fe617c;
  --darkSplash: #d4445c;
  --rock: #000000;
  --overlayGlass: #1f1c26de;
  --success: #7fd876;
  --fail: #e84d5b;
}

.lightTheme:root {
  --primary: #ffffff;
  --secondary: #eff0f0;
  --tertiary: #1c2021;
  --splash: #fe617c;
  --darkSplash: #d4445c;
  --rock: #000000;
  --overlayGlass: #eff0f0de;
  --success: #7fd876;
  --fail: #e84d5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-poppins), sans-serif;
}

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--splash);
  color: var(--rock);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 10px;
}
