.infoPopupContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  border: 0;
  border-radius: 5px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
  cursor: pointer;

  @media (min-width: 905px) {
    width: 400px;
  }

  .infoPopupHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--secondary);

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .infoPopupText {
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: var(--secondary);

    @media (min-width: 905px) {
      font-size: 16px;
    }
  }
}
