.gameSummaryContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;

  @media (min-width: 905px) {
    width: 35%;
    height: 400px;
  }

  .gameSummarySubcontainer {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--splash);
    padding: 32px;
    border-radius: 20px;

    .gameSummaryLevel {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--darkSplash);
      padding: 16px;
      border-radius: 20px;

      .gameSummaryLevelBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--splash);
        padding-top: 16px;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border: 0;
        }

        .gameSummaryLevelTitle {
          font-size: 24px;
          font-weight: 700;
          color: var(--secondary);
        }

        .gameSummaryLevelNumber {
          font-size: 46px;
          font-weight: 700;
          color: var(--secondary);
        }
      }
    }
  }
}

.modalContentContainer {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0 16px 16px;

  .modalContentTexts {
    width: 100%;

    .modalContentTitle {
      font-size: 16px;
      font-weight: 700;
      color: var(--tertiary);
      margin-bottom: 16px;
      text-align: center;
    }

    .modalContentSubtitle {
      font-size: 12px;
      font-weight: 400;
      color: var(--tertiary);
      text-align: center;
    }
  }

  .modalContentButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
    gap: 8px;
  }
}
