.gameSummaryContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;

  @media (min-width: 905px) {
    width: 35%;
    height: 400px;
  }

  .gameSummarySubcontainer {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--splash);
    padding: 32px;
    border-radius: 20px;

    .gameSummaryTitle {
      font-size: 24px;
      font-weight: 700;
      color: var(--secondary);
      margin-bottom: 4px;
    }

    .gameSummaryInfo {
      width: 100%;

      .gameSummaryInfoOption {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        .gameSummaryInfoOptionTitle {
          font-size: 16px;
          font-weight: 400;
          color: var(--secondary);
        }
      }
    }

    .gameSummaryChart {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}

.modalContentContainer {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0 16px 16px;

  .modalContentTexts {
    width: 100%;

    .modalContentTitle {
      font-size: 16px;
      font-weight: 700;
      color: var(--tertiary);
      margin-bottom: 16px;
      text-align: center;
    }

    .modalContentSubtitle {
      font-size: 12px;
      font-weight: 400;
      color: var(--tertiary);
      text-align: center;
    }
  }

  .modalContentButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
    gap: 8px;
  }
}
